@media (min-width: 360px) {
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }

  nav {
    display: block;
    position: static;
  }

  header label {
    display: none;
  }

  .nav-list {
    float: right;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }

  .news-text {
    font-size: 1em;
  }
}

@media (min-width: 1184px) {
  .container {
    max-width: 1184px;
  }

  p {
    font-size: 1.7em;
  }
}
