@media (min-width: 360px) {
}

@media (min-width: 600px) {
  nav {
    display: block;
    position: static;
    float: right;
  }

  header label {
    display: none;
  }

  .nav-list {
    float: right;
  }
}

@media (min-width: 800px) {
}

@media (min-width: 1184px) {
}
